.event {
    background-color: @color-yellow;
    padding: @spacing;
    margin: -@spacing -@spacing 0 -@spacing;
    display: none;
}

.event-name {
    margin: 1rem 0
}

.event-date {
    text-decoration: dotted;
}

.event-links {
    display: flex;
    justify-content: space-between;
}
