@import "variables";
@import "diamond";

body {
    margin: 0;
    padding: 0;
}

header,
section,
footer {
    background: no-repeat center center;
    background-size: cover;

}

header {
    background-image: url('../images/pexels-photo-94710.jpeg');
    padding-bottom: @spacing;

    .diamond:first-child {
        .diamond-body();
        .diamond-bottom-large-to-small('right');
        width: 2*@section-width;
        height: @banner-height - @spacing;
        margin-bottom: 2*@spacing;

        img {
            position: absolute;
            left: 0;
            top: -40px;
        }

        h1 {
            margin: 0;
            position: absolute;
            right: @spacing;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

    .diamond:last-child {
        padding: @spacing;
        width: @section-width;
        margin-top: 2*@spacing;
        .diamond-body('right');
        .diamond-top-small-to-large('left');
        .diamond-bottom-small-to-small('left');
    }
}

section {
    background-image: url('../images/pexels-photo-94710.jpeg');
}

.container {
    width: @container-width;
    margin: 0 auto;
}

.diamond {
    padding: @spacing;
}

// Size

.diamond--small {
    width: @section-width;
}

.diamond--large {
    width: 2 * @section-width;
}

// Position

.diamond--left {
    .diamond-body('left');
}

.diamond--center {
    .diamond-body('center');
}

.diamond--right {
    .diamond-body('right');
}

// Top

// small-to-small

.diamond--small.previous-diamond--small.diamond--center.previous-diamond--left,
.diamond--small.previous-diamond--small.diamond--right.previous-diamond--center {
    .diamond-top-small-to-small('left');
}

.diamond--small.previous-diamond--small.diamond--left.previous-diamond--left,
.diamond--small.previous-diamond--small.diamond--center.previous-diamond--center,
.diamond--small.previous-diamond--small.diamond--right.previous-diamond--right {
    .diamond-top-small-to-small('center');
}

.diamond--small.previous-diamond--small.diamond--center.previous-diamond--right,
.diamond--small.previous-diamond--small.diamond--left.previous-diamond--center {
    .diamond-top-small-to-small('right');
}

// large-to-small

// large-to-large

// Bottom




footer {
    padding-top: @spacing;
    font-size: 0.8em;

}
