body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header,
section,
footer {
    background: no-repeat center center;
    background-size: cover;
}

.home-link {
    display: inline-block;

    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;

    }
    @media (min-width: @screen-md-min) {
        position: absolute;
        left: 0;
        top: -40px;
    }
}

.logo {
    max-width: 100%;
}

header .diamond:first-child {

    @media (min-width: @screen-sm-min) {
        height: @banner-height - @spacing;
    }
}

.modular-home-header {
    .diamond-container {
        padding-top: @spacing;
    }
    .diamond:first-child {
        margin-bottom: 2*@spacing;
        position: relative;
    }
}

header {
    padding-bottom: @spacing;
}

section {
    padding: @spacing 0;
}

footer {
    padding-top: @spacing;
    font-size: 0.8em;
}

footer li:not(:last-child) {
    margin-bottom: 0;
}
