nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: @color-white;
}

nav .diamond-container {
    background-color: @color-white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}
nav a {
    display: inline-block;
    padding: 0.33em 1em;
    text-decoration: none;
    color: inherit;

    &:hover,
    &.active {
        background-color: @color-primary;
        transition: background-color 300ms;
    }
}

nav button {
    @media (min-width: @screen-sm-min) {
        display: none;
    }
}

nav img {
    max-height: @spacing;

    @media (min-width: @screen-sm-min) {
        display: none;
    }
}
