nav {
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: center;
    background-color: @color-white;
    min-height: @spacing;

    @media (max-width: @screen-md-max) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        left: 0;
        right: 0;
    }

    @media (min-width: @screen-lg-min) {
        width: @container-lg-width;
        left: 50%;
        margin-left: -@container-lg-width/2;
    }
}

.nav--wide {
    @media (min-width: @screen-lg-min) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        left: 0;
        right: 0;
        width: 100%;
        margin-left: 0;
        transition: box-shadow 300ms;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li:not(:last-child) {
    margin: 0;
}

nav a {
    display: inline-block;
    padding: 0.33em 1em;
    text-decoration: none;
    color: inherit;

    &:hover,
    &.active {
        background-color: @color-primary;
        transition: background-color 300ms;
    }
}

nav button {
    @media (min-width: @screen-sm-min) {
        display: none;
    }
}

nav img {
    max-height: @spacing;

    @media (min-width: @screen-sm-min) {
        display: none;
    }
}
