{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

<head>
    {% block head %}
        <meta charset="utf-8" />

        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {% do assets.addCss('theme://css-compiled/boiteacycler.min.css', 100) %}
            {% do assets.addCss('theme://vendor/Font-Awesome/css/font-awesome.min.css', 99) %}
        {% endblock stylesheets %}

        {{ assets.css() }}

    {% endblock head  %}
</head>
<body>

{% block content %}
{% endblock content %}

</body>
</html>