@import "variables";
@import "diamond";

body {
    margin: 0;
    padding: 0;
}

header {
    .diamond-body();
    .diamond-bottom(2*@box-width, 'right');
    width: 2*@box-width;
    padding: @spacing;

    img {
        float: left;
        width: 40%;
    }
}

section {
    padding: @spacing;
    width: @box-width;
    margin-top: 2*@spacing;
    margin-bottom: 2*@spacing;
}

section:nth-child(2) {
    .diamond-body('right');
    .diamond-top(@box-width, 'left');
    .diamond-bottom(@box-width, 'left');
}

section:nth-child(3) {
    .diamond-body('center');
    .diamond-top(@box-width, 'right');
    .diamond-bottom(@box-width, 'left');
}

section:nth-child(4) {
    .diamond-body('left');
    .diamond-top(@box-width, 'right');
    .diamond-bottom(@box-width, 'right');
}

section:nth-child(5) {
    .diamond-body('center');
    .diamond-top(@box-width, 'left');
    .diamond-bottom(@box-width, 'right');
}

section:nth-child(6) {
    .diamond-body('right');
    .diamond-top(@box-width, 'left');
    .diamond-bottom(@box-width, 'left');
}

section:nth-child(7) {
    .diamond-body('center');
    .diamond-top(@box-width, 'right');
    .diamond-bottom(@box-width, 'right');
}

footer {
    .diamond-body('right');
    .diamond-top(2*@box-width, 'right');
    width: 2*@box-width;
    padding: @spacing;
}
