@import "variables";
@import "diamond";

body {
    margin: 0;
    padding: 0;
}

header {
    .diamond-body();
    .diamond-bottom-large-to-small('right');
    width: 2*@section-width;
    padding: @spacing;

    img {
        float: left;
        width: 40%;
    }
}

section {
    padding: @spacing;
    width: @section-width;
    margin-top: 2*@spacing;
    margin-bottom: 2*@spacing;
}

section:nth-child(2) {
    .diamond-body('right');
    .diamond-top-small-to-large('left');
    .diamond-bottom-small-to-small('left');
}

section:nth-child(3) {
    .diamond-body('center');
    .diamond-top-small-to-small('right');
    .diamond-bottom-small-to-small('left');
}

section:nth-child(4) {
    .diamond-body('left');
    .diamond-top-small-to-small('right');
    .diamond-bottom-small-to-small('right');
}

section:nth-child(5) {
    .diamond-body('center');
    .diamond-top-small-to-small('left');
    .diamond-bottom-small-to-small('right');
}

section:nth-child(6) {
    .diamond-body('right');
    .diamond-top-small-to-small('left');
    .diamond-bottom-small-to-large('left');
}

section:nth-child(7) {
    .diamond-body('left');
    .diamond-top-large-to-small('right');
    .diamond-bottom-large-to-large('right');
    width: 2*@section-width;
}

footer {
    .diamond-body('right');
    .diamond-top-large-to-large('left');
    width: 2*@section-width;
    padding: @spacing;
}
