@container-xs-width: 100%;
@container-sm-width: 600px;
@container-md-width: 900px;
@container-lg-width: 1200px;

@diamond-xs-width: 100%;
@diamond-sm-width: 600px;
@diamond-large-sm-width: 600px;
@diamond-md-width: 600px;
@diamond-large-md-width: 900px;
@diamond-lg-width: 600px;
@diamond-large-lg-width: 1200px;

// sm

@small-to-small-short-sm-length: @diamond-sm-width - (@container-sm-width+@diamond-sm-width)/4;
@small-to-small-long-sm-length: (@container-sm-width + @diamond-sm-width)/4;

@small-to-large-short-sm-length: (@diamond-large-sm-width + @diamond-sm-width - @container-sm-width)/2;
@small-to-large-long-sm-length: @diamond-sm-width - @small-to-large-short-sm-length;

@large-to-small-short-sm-length: (@diamond-sm-width + @diamond-large-sm-width - @container-sm-width)/2;
@large-to-small-long-sm-length: @diamond-large-sm-width - @large-to-small-short-sm-length;

@large-to-large-short-sm-length: @diamond-large-sm-width - @container-sm-width/2;
@large-to-large-long-sm-length: @container-sm-width/2;

// md

@small-to-small-short-md-length: @diamond-md-width - (@container-md-width+@diamond-md-width)/4;
@small-to-small-long-md-length: (@container-md-width + @diamond-md-width)/4;

@small-to-large-short-md-length: (@diamond-large-md-width + @diamond-md-width - @container-md-width)/2;
@small-to-large-long-md-length: @diamond-md-width - @small-to-large-short-md-length;

@large-to-small-short-md-length: (@diamond-md-width + @diamond-large-md-width - @container-md-width)/2;
@large-to-small-long-md-length: @diamond-large-md-width - @large-to-small-short-md-length;

@large-to-large-short-md-length: @diamond-large-md-width - @container-md-width/2;
@large-to-large-long-md-length: @container-md-width/2;

// lg

@small-to-small-short-lg-length: @diamond-lg-width - (@container-lg-width+@diamond-lg-width)/4;
@small-to-small-long-lg-length: (@container-lg-width + @diamond-lg-width)/4;

@small-to-large-short-lg-length: (@diamond-large-lg-width + @diamond-lg-width - @container-lg-width)/2;
@small-to-large-long-lg-length: @diamond-lg-width - @small-to-large-short-lg-length;

@large-to-small-short-lg-length: (@diamond-lg-width + @diamond-large-lg-width - @container-lg-width)/2;
@large-to-small-long-lg-length: @diamond-large-lg-width - @large-to-small-short-lg-length;

@large-to-large-short-lg-length: @diamond-large-lg-width - @container-lg-width/2;
@large-to-large-long-lg-length: @container-lg-width/2;

